<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h2 class="fontwork"><span class="fa fa-bolt fa1"></span> DIGITAL INNOVATIONS</h2>

        <p class="fontwork2">LOGIN OR REGISTER:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> LOGIN</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-pencil-square-o"></span> SIGN UP</a>
    </div>

</div>
</body>
</html>
