<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1 class="fontwork2"><span class="fa fa-pencil-square-o fa1"></span> SIGN UP</h1>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/signup" method="post">
        <div class="form-group">
            <label class="fontwork3">Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label class="fontwork3">Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <div class="form-group">
            <label class="fontwork3">First Name</label>
            <input type="text" class="form-control" name="firstname">
        </div>
        <div class="form-group">
            <label class="fontwork3">Last Name</label>
            <input type="text" class="form-control" name="lastname">
        </div>
        <div class="form-group">
            <label class="fontwork3">Birthday</label>
            <input type="text" class="form-control" name="birthday">
        </div>

        <button class="btn btn-default"><span class="fa fa-user"></span> SIGN UP</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>
</div>
</body>
</html>
